<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="5.0.0" targetFramework="net40-Client" />
  <package id="EntityFramework.SqlServerCompact" version="4.3.4" targetFramework="net40-Client" />
  <package id="Microsoft.SqlServer.Compact" version="4.0.8876.1" targetFramework="net40-Client" />
  <package id="SqlServerCompact" version="4.0.8854.1" targetFramework="net40-Client" />
</packages>